img{
    max-width:100%
}

body{
    margin-left:auto;margin-right:auto;
    width:90%;
    max-width:40rem;
}

html{ font-size:12pt; }
    @media (MIN-WIDTH:640PX) {
        HTML {FONT-SIZE:16PT;}
        .TWO-COLUMNS-EXAMPLE {display: flex;}
        .TWO-COLUMNS-EXAMPLE > * {width: 50%;}
    }