body {
    width:90%;
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
}

body {
    font-family: Arial, sans-serif;
    font-size:12pt;
    line-height:1.4;
}

ul{
    padding-left:0;
    display:flex;
    flex-wrap:wrap;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#stretchable-grid-items aside{
    margin:10%;
}

#stretchable-grid-items ul{
    margin:1rem -10px;
    width:100%;
}

@media (min-width:640px) {
    #stretchable-grid-items li {
        width:25%;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size:1.5rem;
    }
}

@media (min-width:640px) {
    h1 {
        font-size:2.5rem;
    }
}

@media (min-width: 640px) {
    html {
        background-color:#eaf6ff
    }
}